
body{
  margin:0px;  
  padding:0;
  background-color: #ffdf1e
}
.outer{
   text-align: center;
   padding-top:25px;
}
.page{
   margin-top:0px
   width:1200px;
   height:94vh;
   display: inline-block;
   text-align:left;
   padding:15px;
   background-color: white;
}


			.NAVIGATIONAREA{
				   display: flex;
				   flex-direction: row;
				   flex-wrap: nowrap
				   justify-content:flex-start;
				   background-color:#ffdf1e;
				   height: 80px;
				   align-items: center
				   padding: 20px;
				   }
			
			.logo{
				   background-color:;
				   margin-top:15px;
				   margin-left: 50px;
				   margin-bottom: 20px;
				   max-width: 200px;
				   }

			.logoimage{
				   width:60%;

			}

			.navigationbar{
				   background-color:;
	  			   font-family: 'Alegreya Sans', sans-serif;
				   flex-grow: 1;
				   margin-right: 20px;
				   margin-left:20px;
				   margin-top:38px;
				   text-align: center;
}
							a{
							  color:black;
							  font-size:16px;
							  font-weight: bold;
							  text-decoration: none;
							  margin-right:80px;
							}

							a:hover {
							  color:dimgrey;  
							  font-size:16px;
							  font-weight: display; 
							 }
							a:active {
							  color:black;
							  font-weight: bold;
							}
 
	  
			
			.searchbar{
				background-color:;
				margin-left: auto;
				align-content: flex-end;
				margin-top:35px;
				max-width: 20px;
				max-width: 100px;
			}

			.searchbarimage{
					width:18%;
}


.content{
background-color:white; 
text-align:center;
padding-left: 20px;
padding-right: 20px;