
body{
  margin:0px;  
  padding:0;

}
.outer{
   text-align: center;
   padding-top:10px;
}
.page{
   width:1200px;
   height:95vh;
   display: inline-block;
   text-align:left;
   padding:0px;
   background-color: yellow;
}
a{
  color:black;
  font-size:30px;
  font-weight: bold;
  text-decoration: none;
  margin-right:80px;
}

a:hover {
  color:yellow;  
 }
a:active {
  color:#CCC;
}
.nav{
   font-family: sans-serif;
   margin-left:10px;
   margin-top:15px;
   text-align: right;
}

  
	  